In [2]:
import pandas as pd

# read a csv file at validate1d.csv
df = pd.read_csv('validate1d.csv')
df

    table_id  table_index  ax1       val
0          1            0   82  0.142430
1          2            0   99  0.867380
2          3            0   11  0.001910
3          4            0   11  0.001920
4          5            0   59  0.018590
5          6            0  102  1.000000
6          7            0    0  0.004430
7          8            0   45  0.004350
8          9            0    9  0.001960
9         10            0   88  0.209480
10        11            0   25  0.002695
11        12            0  101  0.884470
12        13            0   10  0.000360
13        14            0  100  0.409790
14        15            0   39  0.003045
15        16            0   58  0.014060
16        17            0    0  0.002450
17        18            0   72  0.021010
18        19            0   77  0.050140
19     42069            0   77  0.000090

In [1]:
float('9E-5')

9e-05